<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Curvetopia</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Curvetopia</h1>
        <div class="button-container">
            <a class="button" href="/upload_image">Shape Detection</a>
            <a class="button" href="/process_image">Symmetry Detection</a>
            <a class="button" href="/curve_completion">Curve Completion</a>
            <a class="button" href="/visualize_data">Visualizing Data</a>
        </div>
    </div>
</body>

</html>
