<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Upload Image</title>
</head>
<body>
    <div class="container">
        <h1>Upload an Image</h1>
        <form action="/upload_image/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png,.jpg,.svg" required>
            <input type="submit" value="Upload">
        </form>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>