<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Visualize Data</title>
</head>

<body>
    <div class="container">
        <h1>Visualize Data</h1>
        <form action="/visualize_data/upload" method="post" enctype="multipart/form-data" target="_blank">
            <input type="file" name="file" required>
            <select name="data_type" required>
                <option value="">Select Format Type</option>
                <option value="image">Image</option>
                <option value="csv">CSV</option>
            </select>
            <input type="submit" value="Visualize">
        </form>
        <a href="/">Back to Home</a>
    </div>
</body>

</html>